body{
    width:100vh;
    height:100%;
    display:flex;
    justify-content:space-around
}
#inputField{
    border-color: rgb(8, 8, 249);
    border-radius: 3px;
    border-style: solid;
}
h4{
    font-style: oblique;
}